{% extends 'base.html' %}

{% block title %}
Términos y Condiciones
{% endblock %}

{% block content %}

<section class="container py-5">

    <h1 class="fw-bold mb-4">

        Términos y Condiciones

    </h1>

    <p>

        Huellitas EdoMex es una plataforma intermediaria que facilita el contacto entre personas interesadas en publicar mascotas y aquellas que desean adoptarlas de manera responsable.

    </p>

    <h3 class="mt-4">

        Uso de la plataforma

    </h3>

    <p>

        Cada usuario es responsable de la información que publica y de las decisiones tomadas durante el proceso de adopción.

    </p>

    <h3 class="mt-4">

        Responsabilidad

    </h3>

    <p>

        Huellitas EdoMex no actúa como refugio, albergue o representante legal de las mascotas publicadas.

    </p>

    <h3 class="mt-4">

        Publicaciones

    </h3>

    <p>

        Los usuarios deberán proporcionar información veraz y actualizada sobre las mascotas registradas.

    </p>

    <h3 class="mt-4">

        Aceptación

    </h3>

    <p>

        Al registrarse, el usuario acepta estos términos y se compromete a utilizarlos de manera responsable.

    </p>

</section>

{% endblock %}